@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: just to hide the scrollbar */
}

.custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
